.admin {
    .admin--actions {
        width: 100%;
        max-width: 600px;
        text-align: center;
        margin: auto;
        margin-top: 75px;
        padding-bottom: 35px;
    }
    button {
        width: 150px;
        border-radius: 0;
        background-color: purple;
        color: white;
        margin: 15px 15px;
        height: 100px;
        vertical-align: middle;
    }
    button:hover {
        color: purple;
        background-color: white;
    }
}