footer {
    background-color: purple;
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    i {
        color: white;
    }
    h2 {
        padding-top: 25px;
        font-size: 0.8rem;
    }
    ul {
        list-style: none;
        padding: 0;
        padding-top: 40px;
        li {
            padding: 10px 15px;
            overflow: hidden;
            display: inline-block;
        }
       
    }
   
    .copy {
        opacity: 0.8;
        padding-bottom: 55px;
    }

    .copy--bottom {
     padding:0;  
     padding-top: 25px; 
    }
    // map section
.map-container {
    background-image: linear-gradient(bottom, purple 50%, white 50%);
    .map {
        margin-top: 40px;
        width: 50%;
        padding: 0;
        max-width:600px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }
    h3 {
        color: black;
    }
    h5 {
        color: black;
        margin-top: -10px;
        padding-bottom: 15px;
    }
    #map {
        display: block;
        border-radius: 25px;
        padding: 0;
        width: 100%;
        height: 250px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }
    @media (max-width: 500px) {
        .map {
            width: 80%;
        }
        #map {
            margin: auto;
            height: 200px;
            width: 100%;
        }
    }
}
    .icons {
        margin: auto;
        i {
            padding: 10px;
            background: purple;
            border-radius: 50%;
            color: white;
            font-size: 20px;
            transition-duration: 0.4s;
            border: 2px solid white;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
        img {
            padding-bottom: 25px;
            width: 100px;
            height: auto;
        }
    }
    .top {
        margin-top: 80px;
        padding-bottom: 2px;
    }
    span:hover {
        i {
            background: white;
            color: purple;
        }
    }
}
