// HEADER

header {
    margin-top: 25px;

    button {
        margin-top: 10px;
        border: 2px solid purple;
        color: purple;
    }

    button:hover {
        color: white;
        background-color: purple;
    }
    img {
        width: 50px;
        height: auto;
    }
}
