.testimonial--view {
    margin-top: 35px;

    img {
        float: right;
    }
    form {
        padding: 0;
    }

    button {
        background: none;
        border: none;
        width: 110px;
        padding:0;
        padding-left: 5px;
    }

    .show-mobile {
        display: none;;
    }
    .testimonial--list {
        padding: 20px;
        margin: auto;
        max-width: 450px;        
        .approve {
            color: green;
           
        }
        .remove {
            color: red;
           
        }
        p {
            margin: 0;
            padding-left: 5px;
            color: black;
        }

        span {
            display: inline-block;
            text-align: left;
            width: 80px;
            color: purple;
            font-weight: bold;
        }

        a:hover {
            text-decoration: none;
        }
    }
}

@media (max-width: 600px) {
    .testimonial--view {
        margin: 0 auto;
        width: 100%;

        .testimonial--list {
            padding: 20px;
            margin: auto;
            max-width: 100%;
        }
        .hide-mobile {
            display: none;
        }
        .show-mobile {
            display: block;
        }
        img {
            display: block;
            float: none;
        }
    }
}